<div class="grid grid-cols-1">
  <div>
    <p class="text-4xl"> Family Member Dashboard</p>
    <br>
    <div class="underline">
      <%= link_to "Add Family Member", new_member_path %>
    </div>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th class="text-sm p-4">Member Name</th>
          <th class="text-sm p-4">Tasks</th>
          <th class="text-sm p-4">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @members.each do |member| %>
        <tr>
          <td class="text-sm p-4"> <%= member.name %> </td>
          <td class="text-sm p-4"> <%= "#{member.tasks_count} Tasks" %></td>
          <td class="text-sm p-4"> <%= link_to '(View tasks)', member_tasks_path(member) %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="underline">
    <%= link_to 'View all tasks', tasks_path %>
  </div>
</div>
